.header-component {
    background-color: #5D5FEF;
    color: white;
    
    .phantom-div {
        width: 64px;
    }

    .header-page-title {
        flex-grow: 1;
    }
}

@media (max-width: 700px) {
    .header-component {
        padding-right: 30px;
        
        .phantom-div {
            width: 32px;
        }
    }
}