<div class="main-page-container">
    <div class="main-page-info-summary" *ngIf="summary">
        <mat-card class="summary-info-container-card">
            <div class="summary-info-title">
                <p *ngIf="isSingleDayPeriod">Exibindo informações do dia {{ summary.initialDate | date:'dd/MM/yyyy' }}</p>
                <p *ngIf="!isSingleDayPeriod">Exibindo informações dos dias {{ summary.initialDate | date:'dd/MM/yyyy' }} a {{ summary.finalDate | date:'dd/MM/yyyy' }}</p>
            </div>

            <mat-card-content class="summary-info-cards-container">
                <mat-card class="summary-info-cards total-quantity-card">
                    <mat-icon class="summary-info-cards-icons total-quantity-icon">
                        <span class="material-symbols-outlined">receipt_long</span>
                    </mat-icon>
                    <div class="summary-info-card-text-container">
                        <p class="summary-card-main-p">{{ this.summary.totalQuantity }}</p>
                        <p class="summary-card-title">Quantidade total de transações</p>
                    </div>
                </mat-card>
                
                <mat-card class="summary-info-cards total-amount-card">
                    <mat-icon class="summary-info-cards-icons total-amount-icon">
                        <span class="material-symbols-outlined">paid</span>
                    </mat-icon>
                    <div class="summary-info-card-text-container">
                        <p class="summary-card-main-p">{{ this.summary.totalAmount | currency: 'BRL' }}</p>
                        <p class="summary-card-title">Renda bruta total</p>
                    </div>
                </mat-card>
                
                <mat-card class="summary-info-cards total-net-amount-card">
                    <mat-icon class="summary-info-cards-icons total-net-amount-icon">
                        <span class="material-symbols-outlined">
                            payments
                        </span>
                    </mat-icon>
                    <div class="summary-info-card-text-container">
                        <p class="summary-card-main-p">{{ this.summary.totalNetAmount  | currency: 'BRL' }}</p>
                        <p class="summary-card-title">Renda líquida total</p>
                    </div>
                </mat-card>
                
                <mat-card class="summary-info-cards total-average-amount-card">
                    <mat-icon class="summary-info-cards-icons total-average-amount-icon">
                        <span class="material-symbols-outlined">
                            currency_exchange
                        </span>
                    </mat-icon>
                    <div class="summary-info-card-text-container">
                        <p class="summary-card-main-p">{{ this.summary.totalAverageAmount  | currency: 'BRL' }}</p>
                        <p class="summary-card-title">Renda média por transação</p>
                    </div>
                </mat-card>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="graphs-container">
        <mat-card class="graph-card">
            <p>Canais utilizados</p>
            <div class="grap-div-container">
                <app-bar-chart></app-bar-chart>
            </div>
        </mat-card>

        <mat-card class="graph-card">
            <p>Cartões utilizados</p>
            <div class="grap-div-container">
                <app-pie-chart></app-pie-chart>
            </div>
        </mat-card>
    </div>
</div>