<div class="table-page-container">
  <table mat-table class="table" matSort (matSortChange)="announceSortChange($event)" [dataSource]="tableDataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell class="table-head" *matHeaderCellDef mat-sort-header>Id da transação</th>
        <td mat-cell class="table-cell" *matCellDef="let transaction">{{ transaction.id }}</td>
      </ng-container>
        
      <ng-container matColumnDef="date">
        <th mat-header-cell class="table-head" *matHeaderCellDef mat-sort-header>Realizado em</th>
        <td mat-cell class="table-cell" *matCellDef="let transaction">{{ transaction.date | date:'dd/MM/yyyy HH:mm:ss' }}</td>
      </ng-container>
      
      <ng-container matColumnDef="paymentType">
        <th mat-header-cell class="table-head" *matHeaderCellDef mat-sort-header>Tipo de pagamento</th>
        <td mat-cell class="table-cell" *matCellDef="let transaction">{{ transaction.paymentType }}</td>
      </ng-container>
      
      <ng-container matColumnDef="cardBrand">
        <th mat-header-cell class="table-head" *matHeaderCellDef mat-sort-header>Marca do cartão</th>
        <td mat-cell class="table-cell" *matCellDef="let transaction">{{ transaction.cardBrand }}</td>
      </ng-container>
      
      <ng-container matColumnDef="grossAmount">
        <th mat-header-cell class="table-head" *matHeaderCellDef mat-sort-header>Valor bruto</th>
        <td mat-cell class="table-cell" *matCellDef="let transaction"><span>R$ </span>{{ transaction.grossAmount }}</td>
      </ng-container>
      
      <ng-container matColumnDef="netAmount">
        <th mat-header-cell class="table-head" *matHeaderCellDef mat-sort-header>Valor líquido</th>
        <td mat-cell class="table-cell" *matCellDef="let transaction"><span>R$ </span>{{ transaction.netAmount }}</td>
      </ng-container>
      
      <ng-container matColumnDef="administrationFee">
        <th mat-header-cell class="table-head" *matHeaderCellDef mat-sort-header>Taxa administrativa</th>
        <td mat-cell class="table-cell" *matCellDef="let transaction"><span>R$ </span>{{ transaction.administrationFee }}</td>
      </ng-container>
      
      <ng-container matColumnDef="channel">
        <th mat-header-cell class="table-head" *matHeaderCellDef mat-sort-header>Canal</th>
        <td mat-cell class="table-cell" *matCellDef="let transaction">{{ transaction.channel }}</td>
      </ng-container>
      
      <ng-container matColumnDef="status">
        <th mat-header-cell class="table-head" *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell class="table-cell" *matCellDef="let transaction">{{ transaction.status }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
</div>